{% extends "students/base.html" %}



{% block content %}
    <h3 class="text-center m-4">Update Student</h3>
    {% if success %}
        <div class="alert-success" role="alert">
            Student updated successfully
            <a href="{% url 'index' %}" class="alert-link">Back to students list</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-ligt mb-3">
                    <div class="card-header">
                        <i class="fas fa-light fa-comment-pen fa-lg"></i>Update student records
                    </div>
                    <div class="card-body">
                      <form method="post" action="">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    {% endif %}
{%endblock%}

