{% extends "students/base.html "%}

{% block content %}
<h3 class="m-4">
    All students
  </h3>
  <div class="row">
    <div class="col-12">
      {% if students %}
      <div class="card text-white bg-primary ms-4 me-4 mb-4" ">
        <div class="card-header">
          <i class="fas fa-sharp fa-regular fa-graduation-cap fa-lg"></i> 
          Students Records
        </div>
        <!-- Table inside card-->
        <div class="card-body">
          <p class="card-text">
            <div class="table-responcive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Field</th>
                    <th scope="col">GPA</th>
                    <th scope="col">Action buttons</th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                      <tr>
                        <td>{{student.student_number}}</td>
                        <td>{{student.student_name}}</td>
                        <td>{{student.student_last_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.field_of_study}}</td>
                        <td>{{student.gpa}}</td>
                        <td>
                          <button type="button" class="btn btn-success btn-lg" href="{% url 'view_student' student.pk %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                            <i class="fas fa-regular fa-circle-info "></i>
                          </button>
                          <!-- Modal view student-->
                          <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Student:{{student.student_name}} {{student.student_last_name}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Modal body text goes here.</p>
                                  <ul class="list-unstyled">
                                    <li>Student Number:<strong>{{student.student_number}}</strong></li>
                                    <li>Student Name:<strong>{{student.student_name}}</strong></li>
                                    <li>Student Last Name:<strong>{{student.student_last_name}}</strong></li>
                                    <li>Student Email:<strong>{{student.email}}</strong></li>
                                    <li>Student Field of Study:<strong>{{student.field_of_study}}</strong></li>
                                    <li>Student GPA:<strong>{{student.gpa}}</strong></li>
                                  </ul>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Modal view student over-->

                          <a class="btn btn-warning me-1 btn-lg" href="{% url 'edit' student.pk %}">
                            <i class="fas fa-solid fa-pen-to-square fa-lg"></i>
                          </a>
 
                          <button type="button" class="btn btn-danger btn-lg"  data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                            <i class="fas fa-solid fa-pen-to-square fa-lg"></i>
                          </button>


                          <!-- Modal delete student-->
                          <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Student:{{student.student_name}} {{student.student_last_name}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure want to delete the student?</p>
                                </div>
                                <div>
                                <div class="modal-footer">
                                  <form action="{% url 'delete' student.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Delete">
                                  </form>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Modal delete srudent over-->
                        </td> 
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </p>
        </div>
        <!-- Table inside card-->
      <!-- If no records-->
      </div>
      {% else %}
        <h5 class="alet-primary ms-4 me-4">No student records</h5>
      {% endif %}
      
    </div>
  </div>
{% load static %}
{% endblock   %}
